[submodule "2014"]
	path = 2014
	url = https://github.com/g0v/archive-summit-2014.git
	branch = gh-pages
[submodule "2016"]
	path = 2016
	url = https://github.com/g0v/archive-summit.g0v.tw.git
	branch = gh-pages
[submodule "2018"]
	path = 2018
	url = https://github.com/g0v/summit2018.git
	branch = gh-pages
[submodule "2020"]
	path = 2020
	url = https://github.com/g0v/summit2020.git
	branch = gh-pages
