[submodule "2014"]
	path = 2014
	url = https://github.com/g0v/summit2014.git
	branch = gh-pages
[submodule "2016"]
	path = 2016
	url = https://github.com/g0v/summit2016.git
	branch = gh-pages
[submodule "2018"]
	path = 2018
	url = https://github.com/g0v/summit2018.git
	branch = gh-pages
[submodule "2020"]
	path = 2020
	url = https://github.com/g0v/summit2020.git
	branch = production-pages
[submodule "2024"]
	path = 2024
	url = https://github.com/g0v/summit2024.git
	branch = production
[submodule "2026"]
	path = 2026
	url = https://github.com/g0v/summit2026-teaser.git
	branch = gh-pages
